@model LP3_ProjetoFinal.Models.Store;

@{
    ViewData["Title"] = $"Criar loja";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Store" asp-action="Create" method="post">

        <label for="Id">Id: </label> <br>
        <input type="number" name="Id"> <br>
        <span asp-validation-for="Id" class="text-danger"></span> <br>

        <label for="Name">Nome: </label> <br>
        <input type="text" name="Name"> <br>
        <span asp-validation-for="Name" class="text-danger"></span> <br>


        <label for="Description">Descrição: </label> <br>
        <input type="text" name="Description"> <br>
        <span asp-validation-for="Description" class="text-danger"></span> <br>

    <button class="btn btn-success mt-2" type="submit">Salvar</button>
</form>