@model LP3_ProjetoFinal.Models.Store;


@{
    ViewData["Title"] = $"Loja { Model.Name }";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>Id: </b> @Model.Id
</p>

<p>
    <b>Número: </b> @Model.Name
</p>

<p>
    <b>Descrição: </b> @Model.Description
</p>

 <a class="btn btn-danger btn-sm" href="/Store/Delete/@Model.Id">Remover</a>
