@model LP3_ProjetoFinal.Models.Store;

@{
    ViewData["Title"] = $"Editar Loja { Model.Name }";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Store" asp-action="Update" method="post">
  
    <input type="hidden" asp-for="Id" value="@Model.Id"> <br>
    
    <label for="Name">Nome: </label> <br>
    <input type="text" asp-for="Name" value="@Model.Name"> <br>
    <span asp-validation-for="Name" class="text-danger"></span> <br>

    
    <label for="Description">Descrição: </label> <br>
    <input type="text" asp-for="Description" value="@Model.Description"> <br>
    <span asp-validation-for="Description" class="text-danger"></span> <br>

    <button class="btn btn-success mt-2" type="submit">Salvar</button>
</form>