@model LP3_ProjetoFinal.Models.CleaningTime;

@{
    ViewData["Title"] = $"Criar Novo Horário de Limpeza";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="CleaningTime" asp-action="Create" method="post">
    <p>
        <label asp-for="Id">Id: </label>
        <input type="number" asp-for="Id">
        <span asp-validation-for="Id" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="StartTime">Horário de início: </label>
        <input type="time" asp-for="StartTime">
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="EndTime">Horário de término: </label>
        <input type="time" asp-for="EndTime">
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="Employee">Funcionário: </label>
        <input type="text" asp-for="Employee">
        <span asp-validation-for="Employee" class="text-danger"></span>
    </p>

    <button type="submit">Salvar</button>
</form>