@model LP3_ProjetoFinal.Models.Product;

@{
    ViewData["Title"] = $"Criar produto";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewBag.lojaId</p>
<form id="form" action="Create" method="post">
    <p>
        <label for="Id">Id: </label>
        <input type="number" name="Id">
    </p>

    <p>
        <label for="Name">Nome: </label>
        <input type="text" name="Name">
    </p>

    <p>
        <label for="Price">Preço: </label>
        <input type="number" name="Price">
    </p>

    <p>
        <label for="Description">Descrição: </label>
        <input type="text" name="Description">
    </p>

    <p>
        <input type="hidden" name="StoreId" value="@ViewBag.lojaId">
    </p>

    <button type="submit">Salvar</button>
</form>