@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="font-weight-bold my-3 py-4" style="font-size: 50px;">CARO(A) FUNCIONÁRIO(A) DO CINALL,</h1>
    <p class="lead" style="font-size: 26px;">Utilize essa plataforma para controlar os registros de funcionários, salas, horários de limpeza, filmes em cartaz e produtos.</p>
    <p class="lead" style="font-size: 26px;">Para isso, basta acessar as páginas, disposíveis na barra de navegação.</p>
</div>
