@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1 class="display-4 mt-3 pt-4">@ViewData["Title"]</h1>
<hr>

<p class="mt-3 pt-4" style="font-size: 20px; text-indent: 1.7em;">Na Cinall, privacidade e segurança são prioridades e nos comprometemos com a transparência do tratamento de dados pessoais dos nossos usuários/clientes. Por isso, esta presente Política de Privacidade estabelece como é feita a coleta, uso e transferência de informações de clientes ou outras pessoas que acessam ou usam nosso site.</p>
<p style="font-size: 20px; text-indent: 1.7em;">Ao utilizar nossos serviços, você entende que coletaremos e usaremos suas informações pessoais nas formas descritas nesta Política, sob as normas da Constituição Federal de 1988 (art. 5º, LXXIX; e o art. 22º, XXX – incluídos pela EC 115/2022), das normas de Proteção de Dados (LGPD, Lei Federal 13.709/2018), das disposições consumeristas da Lei Federal 8078/1990 e as demais normas do ordenamento jurídico brasileiro aplicáveis.</p>
<p style="font-size: 20px; text-indent: 1.7em;">Dessa forma, a Cinall, doravante denominada simplesmente como “CIN”, inscrita no CNPJ/MF sob o nº 0000000, no papel de Controladora de Dados, obriga-se ao disposto na presente Política de Privacidade.</p>
